footer {
    background-color: black;
    color: white;
    text-align: center;
    
  }
  
  footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 24px;
  }
  
  footer a:hover {
    color: #e83382;
  }