@import "vars", "footer", "header";

body {
    font-size: $mobile-font-size;

    img {
        max-width: 100%;
    }

    .modelo {
        padding-top: 0.2rem;
        background: rgb(0, 174, 255);
        background: linear-gradient(
            25deg,
            rgba(0, 174, 255, 1) 2%,
            rgba(9, 9, 121, 1) 43%,
            rgba(232, 51, 130, 1) 96%
        );
        color: white;
        .informacion > p > span {
            font-weight: bolder;
        }
        .botones {
            grid-template-columns: auto auto;
        }
    }

    .modelos-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2%;
        padding-bottom: 0.5rem;
        overflow: hidden;

        .modelos-item {
            float: left;
            box-sizing: border-box;
            padding: 1%;
            font-size: 30px;
            text-align: center;
            justify-content: space-around;
            img {
                object-fit: cover;
            }
            :hover {
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: $mobile-title-font-size;
    }
    p {
        font-size: $mobile-font-size;
    }
    input {
        font-size: $mobile-font-size;
    }
    .banner-video {
        height: 360px;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: $tablet-title-font-size;
    }
    p {
        font-size: $tablet-font-size;
    }
    .banner-video {
        height: 560px;
    }
    .carousel-caption > p {
        display: none;
        text-align: center;
    }
}

@media (min-width: 992px) {
    @mixin titulo {
        font-family: $title-font;
        font-size: $laptop-title-font-size;
    }
    h1,
    h2,
    h3 {
        @include titulo();
    }
    p {
        font-size: $laptop-font-size;
    }

    .navbar-expand-lg .navbar-collapse {
        flex-basis: auto;
        justify-content: flex-end;
    }

    .modelo {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        .informacion {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30%;
            .botones {
                display: flex;
                flex-direction: column;
            }
        }
        .banner-video {
            width: 70%;
            height: 750px;
        }
    }
    .carousel-caption > p {
        display: block;
        font-size: 3em;
        text-align: center;
    }

    .modelos-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
