.rim1 {
    background-image: url(../img/icon/rim1.jpg);
}
.rim2 {
    background-image: url(../img/icon/rim2.jpg);
}
.rim3 {
    background-image: url(../img/icon/rim3.jpg);
}
.rim4 {
    background-image: url(../img/icon/rim4.jpg);
}
.rim5 {
    background-image: url(../img/icon/rim5.jpg);
}
.rim6 {
    background-image: url(../img/icon/rim6.jpg);
}
.rim7 {
    background-image: url(../img/icon/rim7.jpg);
}
.rim8 {
    background-image: url(../img/icon/rim8.jpg);
}
.rim9 {
    background-image: url(../img/icon/rim9.jpg);
}
.rim10 {
    background-image: url(../img/icon/rim10.jpg);
}
.rim11 {
    background-image: url(../img/icon/rim11.jpg);
}
.rim12 {
    background-image: url(../img/icon/rim12.jpg);
}
