//Tamaños de fuente
$mobile-font-size: 1rem;
$mobile-title-font-size: 1.4rem;
$tablet-font-size: 1.5rem;
$tablet-title-font-size: 2rem;
$laptop-font-size: 2rem;
$laptop-title-font-size:3rem;

$secondary-color: #e83382;
$gradient: linear-gradient(
    25deg,
    rgba(0, 174, 255, 1) 2%,
    rgba(9, 9, 121, 1) 43%,
    rgba(232, 51, 130, 1) 96%
    );

$title-font:"Oswald", sans-serif;
$primary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;